.main-screen{
  display: flex;
}
.start-button , .stop-button{
  display: flex;
  width: 200px;
  height: 71px;
  margin: 20px auto;
  padding: 0 50px;
  color : white;
  background-color: rgb(82, 206, 223);
  font-size: 40px;
  font-family: 'Hi Melody', cursive;
  border-radius: 40px;
  box-shadow: -4px 5px grey;
}
button:focus{
outline:0;
}
.options{
  width: 500px;
  height: 100vh;
}
.title {
  display: flex;
  margin: 29px auto;
}
#gameBoard{
  display: flex;
  justify-content: flex-end;

}
video{
  margin: 20px 51px;
}
#background{
  background-color: rgba(158, 139, 168, 0.651);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

#cover{
  display: flex;
    width: 500px;
    height: 242px;
    margin: 86px 500px;

}
#catbug{
  display: flex;
    width: 185px;
    height: 185px;
    margin-left: 671px;
}
body{
  overflow: hidden;
}